* {
    box-sizing: border-box;
    margin: 0;
}

/* LANDING PAGE */
.landing-html { 
    background: url(../images/cityscape.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .mobile-content{
    display: none;
  }


  /* MOBILE */

  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobile-content {
        display: inline;
      }
      .tablet-desktop-content, .tablet-desktop-dashboard {
        display: none;
      }
      nav .nav-landing {
        height: 120px;
      }
      .landing-login {
        font-size: 40px;
        margin: 25px;
      }         
      .carousel.carousel-slider {
        top: 58px;
        left: 16px;
        max-width: 90vw;
    }
      .swipe-left {
        position: fixed;
        top: 61%;
    }
      .swipe-right {
        position: fixed;
        right: 0;
        top: 61%;
    }

    .dashboard-html {
      background: linear-gradient(to bottom, rgba(22,185,122,1) 0%, rgba(167,255,132,1) 100%) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;;
    }
}

  nav .nav-wrapper {
      background-color: #046971;
      z-index: 3;
  }

  .landing-login {
      font-family: 'Raleway', sans-serif;
      margin-right: 25px;
  }

  .landing-icon {
    position: absolute;
    top: 19%;
  }

  .landing-header {
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    position: absolute;
    top: 38%;
    left: 34%;
    font-size: 100px;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  }

  .submit-btn {
      background-color: #046971;
      position: absolute;
      top: 50%;
      left: 39%;
      font-size: 40px;
      padding: 50px 50px 70px;
      text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
  }

  .slider .mobile-slider.slides {
    background-color: rgba(0,0,0,0);
    font-family: 'Saira Condensed', sans-serif;
  }
  .mobile-slider.slider {
    position: fixed;
    top: 60%;
    right: -2%;
    height: 280px;
  }

  .mobile-slider.slider .indicators {
    bottom: 40%;
  }

  .mobile-slider.slider .indicators .indicator-item.active {
    background-color: #046971;
  }

  /* TABLET/DESKTOP */
  .slider .indicators .indicator-item.active {
    background-color: #046971;
  }

  .slider .slides {
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
  }

  .slider .slides li .caption {
    top: 63%;
  }

  .desktop-logo {
    z-index: 5;
    position: relative;
  }

  .row .desktop-logo.col.s12 {
    left: 5%;
  }


  .desktop-signup {
    position: absolute;
    top: 45%;
    left: 46%;
    z-index: 5;
    background-color: #046971;
    font-family: 'Raleway', sans-serif;
  }

  /* MODALS */
  .movie-icon, .concert-icon, .shopping-icon, .dinner-icon, .drinks-icon, .outing-icon, .vacation-icon, .ring-icon, .car-icon, .profile-one, .profile-two, .profile-three, .profile-four, .profile-five, .profile-six, .profile-seven, .profile-eight, .profile-nine {
    height: 100px;
  }

  .car-label {
    top: 24px;
    right: 80px;
  }

  .modal-title {
    color: #081853;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
  }

  .file-upload {
    display: none;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
  position: absolute;
  top: 20%;
  left: 11%
}

.upload-button {
  position: absolute;
  top: 62%;
  left: 15.5%;
}

img.welcome-image {
  height: 205px;
}

.btn-floating.btn-large {
  width: 120px;
  height: 120px;
  left: 3%;
  bottom: 44%;
  position: absolute;
  background-color: #a7ff84;
}

.weekend-pic {
  height: 128px;
}


/* DASHBOARD */

/* MOBILE */

nav .nav-dashboard {
  background-color: #046971;
}

.dashboard-logo-mobile {
  max-height: 50px;
}

.dashboard-profile {
  margin-top: 25px;
}

.dashboard-welcome {
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
  font-size: 25px;
  position: absolute;
  left: 39%;
}

/* DEKTOP AND TABLET */
.desktop-dashboard-logo {
  max-height: 68px;
}

.dashboard-wrapper {
  height: 101%;
}

#left-sidebar-nav {
  position: fixed;
  width: 100%;
  left: 180px;
  z-index: 990;
  height: auto;
}

.side-nav.fixed {
  top: 6%;
  max-width: 20%;
}

.dashboard-profile-row {
  background: linear-gradient(to bottom, rgba(22,183,122,1) 0%, rgba(167,255,132,1) 100%);
  margin-bottom: 0;
}
/* .modebar{
  display: none !important;
} */

.dashboard-desktop-profile {
  max-height: 200px;
  margin-top: 5%;
}

.desktop-welcome {
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
  font-size: 30px;
}

.dashboard-profile-welcome {
  background-color: #a7ff84;
}

.dashboard-list {
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
  font-size: 25px;
  padding-top: 5%;
}

.dashboard-link:hover {
  background-color: #a7ff84;
}

.desktop-icon-row {
  position: absolute;
  left: 22%;
  width: 100%;
  max-width: 75vw;
}

.dashboard-icon {
  max-height: 100px;
  margin: 15%;
}

.desktop-budget-row {
  position: absolute;
  top: 30%;
  left: 27%;
}

.desktop-budget {
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
  font-size: 30px;
  margin: 0;
}

.card .card-image img {
  height: 179px;
  width: 200px;
  left: 24%;
}

.card.small .card-image+.card-content {
  position: absolute;
  top: 75%;
  width: 50%;
  left: 24%;
  position: absolute;
}

.card .card-image .card-title{
  top: 60%;
  left: 30%;
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
}

.big-expense-row {
  position: relative;
  top: 215px;
  left: 107px;
  z-index: -10;
}

.btn-large {
  margin: 15px;
  background-color: #081853;
}

@media only screen 
    and (min-device-width : 481px) {
    .carousel.carousel-slider{
      position: absolute;
      max-width: 30vw;
      min-height: 56vh;
      top: 36%;
      left: 23%;
    }
    .swipe-left {
      position: fixed;
      top: 61%;
      z-index: 20;
      left: 19%;
    }
    .swipe-right {
      position: fixed;
      z-index: 20;
      right: 43%;
      top: 61%;
    }

    .swipe-left, .swipe-right:hover {
      cursor: pointer;
    }
  
  }






