* {
    box-sizing: border-box;
    margin: 0;
}

/* LANDING PAGE */
.landing-html { 
    background: url(../images/cityscape.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .mobile-content{
    display: none;
  }


  /* MOBILE */

  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px){ 
      .mobile-content {
        display: inline;
      }
      .tablet-desktop-content {
        display: none;
      }
      nav .nav-landing {
        height: 120px;
      }
      .landing-login {
        font-size: 40px;
        margin: 25px;
      }
  }

  nav .nav-wrapper {
      background-color: #046971;
      z-index: 3;
  }

  .landing-login {
      font-family: 'Raleway', sans-serif;
      margin-right: 25px;
  }

  .landing-icon {
    position: absolute;
    top: 19%;
  }

  .landing-header {
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    position: absolute;
    top: 38%;
    left: 34%;
    font-size: 100px;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  }

  .submit-btn {
      background-color: #046971;
      position: absolute;
      top: 50%;
      left: 39%;
      font-size: 40px;
      padding: 50px 50px 70px;
      text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
  }

  .slider .mobile-slider.slides {
    background-color: rgba(0,0,0,0);
    font-family: 'Saira Condensed', sans-serif;
  }
  .mobile-slider.slider {
    position: fixed;
    top: 60%;
    right: -2%;
    height: 280px;
  }

  .mobile-slider.slider .indicators {
    bottom: 40%;
  }

  .mobile-slider.slider .indicators .indicator-item.active {
    background-color: #046971;
  }

  /* TABLET/DESKTOP */
  .slider .indicators .indicator-item.active {
    background-color: #046971;
  }

  .slider .slides {
    font-family: 'Saira Condensed', sans-serif;
    position: relative;
  }

  .slider .slides li .caption {
    top: 63%;
  }

  .desktop-logo {
    z-index: 5;
    position: relative;
  }

  .row .col.s12 {
    left: 5%;
  }


  .desktop-signup {
    position: absolute;
    top: 45%;
    left: 46%;
    z-index: 5;
    background-color: #046971;
    font-family: 'Raleway', sans-serif;
  }

  /* MODALS */
  .movie-icon, .concert-icon, .shopping-icon, .dinner-icon, .drinks-icon, .outing-icon, .vacation-icon, .ring-icon, .car-icon, .profile-one, .profile-two, .profile-three, .profile-four, .profile-five, .profile-six, .profile-seven, .profile-eight, .profile-nine {
    height: 100px;
  }

  .car-label {
    top: 24px;
    right: 80px;
  }

  .modal-title {
    color: #081853;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
  }

  .budget-box {
    position: absolute;
    left: 32%;
  }

  .file-upload {
    display: none;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
  position: absolute;
  top: 20%;
  left: 11%
}

.upload-button {
  position: absolute;
  top: 62%;
  left: 16%;
}



/* DASHBOARD */
.dashboard-html {
  background-color: #fff;
}

img.dashboard-logo.responsive-img {
  height: 50px;
}

nav .nav-dashboard {
  background-color: #046971;
}

.dashboard-profile {
  margin-top: 25px;
}

.dashboard-welcome {
  font-family: 'Saira Condensed', sans-serif;
  color: #081853;
  font-size: 25px;
  position: absolute;
  left: 39%;
}

